<!DOCTYPE html>
<html>
<head>
  <title>Elasticsearch + Angular Example</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script> -->
	  <!-- <script src="./bower_components/angular/angular.js"></script> -->
	  <script src="./bower_components/elasticsearch/elasticsearch.angular.js"></script>
	  <script src="./bower_components/elasticsearch/elasticsearch.js"></script>
	  <script src="./js/ES.js"></script> 
</head>
<!-- boot angular with the ExampleApp module -->
<body ng-app="ExampleApp">
	<div id = "main">
		
		<form id = "theForm">
			<fieldset>
				<legend>Check List </legend>
					<div>
						<label for = "">Task </label>
						<input type = "text" name = "task" value = "雞排" id = "task">
					</div>
					<div>
						<input type = "submit" value = "Add" id ="submit">
					</div>
			</fieldset>
					<div id = "list">
					</div>
		</form>
	</div>
	
	<!--   attach the ExampleController to our main content -->
		<div ng-controller="ExampleController" class="container">
		</div>

		<!-- if there is an error, display its message -->
		<div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}</div>

		<!-- if clusterState is available, display it as formatted json -->
		<div ng-if="clusterState" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Cluster State</h3>
			</div>
			<div class="panel-body">
				<pre>{{clusterState | json}}</pre>
			</div>
		</div>
		<div id ="BoAnTest">
					<h1>Angular + Elasticsearch+test~~~~~</h1>
					<h4>您的檢索關鍵字為:</h4><h1 id="keyword">{{message}}</h1>
					<h1>其他關鍵字:</h1><h1 id="otherword"></h1>
				</div>
				<div id = "bigWrapper">
				</div>

  
</body>
</html>