<!DOCTYPE html>
<html>
 	<head>
     	<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/PatentMagnifier.css">
		<script src="../js/jquery.js"></script>
		<title>專利放大鏡|MAGNIFIER</title>
		<link rel="icon" href="../img/PatentSearchB_icon.png" type="image/gif" sizes="16x16">
	</head>
	<body>
		<div id="wrapper">
			<section id="pageA">
				<div id="logo">
					<a href="../views/PatentMagnifier.html">
						<img src="../img/PatentSearch_logoB.png" width="501" height="121"alt="Logo">
					</a>
				</div>
				<div id="Ad_copy">
					<p>
						您是否曾花費大筆經費研發專利，但直到申請專利時，才發現原來已經被申請<br>
						過，所以的心血在一夕之間都白費了，如果在申請之前能先查詢過，便能判斷<br>
						是否值得投注大量的經費，這套工具便是因此而研發的，藉由簡易的關鍵字搜<br>
						尋，便能快速的搜尋到已申請過的專利文章。
					</p>
				</div>
				<a href="#pageA"><div id="moveA"></div></a>
				<a href="#pageB"><div id="moveB"></div></a>
				<a href="#pageC"><div id="moveC"></div></a>
				<a href="Search_final.html" title="點此開始搜尋" id="moveD"></a>
			<section>
			<section id="pageB">
				<div id="map">
					<h1>百大專利排行分布圖</h1>
					<iframe width="100%" height="860" frameborder="0" src="https://freemanartstudiotw.cartodb.com/viz/774757b0-9a8f-11e5-92cc-0e31c9be1b51/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
				</div>
			</section>
			<section id="pageC">
				<iframe width="100%" height="930" src="http://jsfiddle.net/CodeFreeman/eyryo4gg/embedded/result/" allowfullscreen="allowfullscreen" frameborder="0" scrolling="no"></iframe>
			</section>
			<footer>
				<div>
					<p>Copyright &copy; 2015 <strong id="PatentColor">Patent</strong>MAGNIFIER. All rights reserved.</p>
				</div>
			</footer>
			</div>
	</body>
</html>
<!--template.html-->
