<!DOCTYPE html>
<html >
 	<head>
     	<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/Search.css">
		<!-- AngularJS CDN -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>  
	    <script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
		
		<!-- jQuery CDN -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
		<!-- HighChart CDN-->
		<script src="http://code.highcharts.com/highcharts.src.js"></script>
		<script src="../js/highcharts-ng.js"></script> <!-- 讀不到一哥 -->

		<!-- ElasticSearch -->
		<script src="../js/elasticsearch.angular.min.js"></script>

		<!-- Ours.js -->
		<script src="../js/Search.js"></script> 
		
		<script>
			$(document).ready(function(){
			$("input").focus(function(){
			$("#Svgdisplay").css("opacity","1");
			});
			$("input").blur(function(){
			$("#Svgdisplay").css("opacity","0");
			});
			});
		</script>
		<title>專利放大鏡|MAGNIFIER</title>
		<link rel="icon" href="../img/PatentSearchB_icon.png" type="image/gif" sizes="16x16">
	</head>
	<body >
		<div id="WrapperSearch">
			<header>
				<div id="logo">
					<a href="../views/PatentMagnifier.html">
						<img src="../img/PatentSearch_logoB.png" width="501" height="121"alt="Logo">
					</a>
				</div>
			</header>
			<aside  id="PatentSearchText"  ng-app="EsConnector">
					<form action="http://10.120.30.18:8124/PatentChart_final.html"  method="Get" id="theForm">
					
					
					<div id="Svgdisplay">
						<div ng-controller="HighChartController">
							<!-- <div class="span12">
								<input ng-model="chartConfig.title.text">
							</div> -->
							<div class="row">
								<highchart id="chart1" config="chartConfig" class="span10"></highchart>
							</div>
						</div>	
					</div>
					<div id="inputsearch" ng-controller="QueryController">
						<div>主要關鍵字: <input ng-model="name" type="text" name="mainWord" placeholder="ex:輸入您的關鍵字" id="mainWord" /></div>
	  					<div>相關關鍵字:</div><span ng-repeat="items in words" id="Words">{{items}},</span>
					</div>
	  				<div id="SearchLink">
					<!-- 對我的:"http://10.120.30.18:8124/PatentChartOffical.html" -->
						
							<button id ="SendMsg" type = "submit" title="點此查詢關鍵字"></button>
					</form>
					</div>
			</aside>
			
				
		    <footer>
				<div>
					<p>Copyright &copy; 2015 <strong id="PatentColor">Patent</strong>MAGNIFIER. All rights reserved.</p>
				</div>
			</footer>
		</div>
	</body>
</html>
<!--template.html-->
